<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h1 class="display-4">{{exercise.name}}</h1>
            </div>
            <div class="col">

                <div class="btn">
                    <a type="button" class="btn brn-secondary" href="/">Home</a>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h1>Lifts</h1>
                <br>
                <div class="col">
                    <button type="button" class="btn brn-secondary" data-toggle="modal" data-target="#addLiftModal">Add
                        Set</button>
                </div>
                <div class="list-group">
                    <ul class="list-group">
                        {{#each lifts}}
                        <li class="list-group-item list-group-item-primary">Reps: {{this.reps}}, Weight:
                            {{this.weight}},
                            Date: {{this.time}}</li>
                        <br>
                        {{/each}}
                    </ul>

                </div>
                </a>
            </div>
            <div class="col-5"></div>
        </div>

    </div>
</div>
</div>

<div class="modal fade" id="newExerciseModal" tabindex="-1" role="dialog" aria-labelledby="createExercise"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newExerciseLabel">Create New Exercise</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/workout/add_exercise" method="put">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="exerciseNameInput"
                            aria-describedby="workoutHelp" placeholder="Exercise Name">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addLiftModal" tabindex="-1" role="dialog" aria-labelledby="createLift" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newLiftLabel">Create New Set</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/lift" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="reps" id="liftRepsInput"
                            aria-describedby="repsHelp" placeholder="Reps">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="weight" id="liftWeightInput"
                            aria-describedby="weightHelp" placeholder="Weight">
                    </div>
                    <input class="d-none" type="text" name="exercise_id" id="test2" value={{exercise._id}}
                        type="hidden">

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>